@page
@model Krucible.Pages.AssimilationWordModel
@{
    ViewData["Title"] = "AssimilationWord";
}
<body onload="placeFocus()">
    <h1>Assimilation Training in Words</h1>

    <form method="post">
        <input type="submit"
               value="Generate random word"
               asp-page-handler="GetTask" /> <br />
        <h2>@Model.Task</h2>
        <input asp-for="@Model.Task" value="@Model.Task" hidden="hidden" />
        <label for="UserGuess">Your guess:</label>
        <input type="text"
               name="UserGuess" 
               id="UserGuess" 
               value="@Model.UserGuess" 
               autocomplete="off" 
               onkeydown="KeyPressed(event)"/>
        <input asp-for="@Model.UserGuess" value="@Model.UserGuess" hidden="hidden" />
        <input type="submit"
               value="Behold!"
               id="mainButton"
               asp-page-handler="CheckAnswer" />
        <h2>@Model.Result</h2>

        <script src="~/js/scripts.js"></script>

    </form>
</body>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: fixed;
            text-align: center;
        }
    </style>
</head>

<body>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#table">Assimilation table</button>
    <p></p>
    <div id="table" class="collapse">
        <table style="width:20%">
            <tr>
                <th></th>
                <th colspan="4">Second letter</th>
            </tr>
            <tr>
                <th>First letter</th>
                <td>ㄹ</td>
                <td>ㅁ</td>
                <td>ㄴ</td>
                <td>ㅅ</td>
            </tr>
            <tr>
                <td>ㄱ</td>
                <td>ㅇㄴ</td>
                <td>ㅇㅁ</td>
                <td>ㅇㄴ</td>
                <td>—</td>
            </tr>
            <tr>
                <td>ㅂ</td>
                <td>ㅁㄴ</td>
                <td>ㅁㅁ</td>
                <td>ㅁㄴ</td>
                <td>—</td>
            </tr>
            <tr>
                <td>ㄷ</td>
                <td>—</td>
                <td>ㄴㅁ</td>
                <td>ㄴㄴ</td>
                <td>ㅆ</td>
            </tr>
            <tr>
                <td>ㄹ</td>
                <td>—</td>
                <td>—</td>
                <td>ㄹㄹ</td>
                <td>—</td>
            </tr>
            <tr>
                <td>ㅁ</td>
                <td>ㅁㄴ</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>ㄴ</td>
                <td>ㄹㄹ</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>ㅇ</td>
                <td>ㅇㄴ</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
            </tr>
        </table>
    </div>
</body>