@page
@model Krucible.TrainingModel
@{
    ViewData["Title"] = "Training";
}

<form method="post">
    <label for="Min">Min:</label>
    <input type="number"
           name="Min"
           id="Min"
           value="@Model.Min"
           min="1"
           max="9999999999999999"/> <br />
    <label for="Max">Max:</label>
    <input type="number"
           name="Max"
           id="Max"
           value="@Model.Max"
           min="1"
           max="9999999999999999"/> <br />
    <input type="submit"
           value="Generate random number"
           asp-page-handler="GetTask"/> <br />
    <h2>@Model.Task</h2>
    <label for="UserTranslation">Your guess:</label>
    <input type="text", name="UserTranslation" id="UserTranslation" value="@Model.UserGuess" size="81"/>
    <input type="submit"
           value="Behold!"
           asp-page-handler="CheckAnswer"/>
    <h2>@Model.UserGuess</h2>
    <h2>@Model.Result</h2>
</form>
