@page
@model Krucible.Pages.VocabularyTrainingModel
@{
    ViewData["Title"] = "VocabularyTraining";
}

    <script src="~/js/scripts.js" type="text/javascript">
    </script>

    <body onload="placeFocus()">
        

        <h1>VocabularyTraining</h1>

        <form method="post" onload="placeFocus()">
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <p>Please write -하다 verbs without 을/를</p>
            <select name="LessonNumber"
                    asp-for="@Model.SelectedLesson"
                    asp-items="Model.LessonsNames"></select>
            <input asp-for="@Model.SelectedLessonNumber" hidden="hidden" />
            @for (int i = 0; i < Model.LessonsNames.Count; i++)
            {
                <input asp-for="@Model.LessonsNames[i].Value" hidden="hidden" />
                <input asp-for="@Model.LessonsNames[i].Text" hidden="hidden" />
            }

            <br />

            <input type="submit"
                   value="Generate random word"
                   asp-page-handler="GetTask" /> <br />
            <h2>@Model.Task</h2>
            <label for="UserGuess">Your guess:</label>
            <input type="text" , name="UserGuess" id="UserGuess" value="@Model.UserGuess" autocomplete="off"
                   onkeydown="KeyPressed(event)"
                   autofocus="autofocus"/>
            <input type="submit"
                   name="userguess"
                   value="Behold!"
                   id="mainButton"
                   asp-page-handler="CheckAnswer" />
            <h2>@Model.Result</h2>
            <br />

            <input asp-for="@Model.Korean" value="@Model.Korean" hidden="hidden" />
            <input asp-for="@Model.English" value="@Model.English" hidden="hidden" />
            <input asp-for="@Model.Russian" value="@Model.Russian" hidden="hidden" />
            <input asp-for="@Model.Task" value="@Model.Task" hidden="hidden" />

            

        </form>
    </body>